.form {
    color: #00A0A3;
}

.form__fieldset {
    text-align: center;
    width: 550px;
    border: 5px solid #0B525B;
    border-radius: 10px;
    padding: 30px 30px 0 30px;
}

.form__legend {
    background-color: #111;
    border-radius: 10px;
    color: #00A0A3;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.form__label {
    letter-spacing: 0.5px;
    font-size: 18px;
    display: block;
    margin: 10px;
}

.form__input {
    width: 200px;
}

.form__select {
    width: 200px;
}

.form__paragraph {
    margin-top: 15px;
    padding: 5px;
}

.form__button {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #0B525B;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
}

.form__button:hover {
    background-color: hsl(187, 78%, 15%);
    cursor: pointer;
}

.form__result {
    color: #8E6C88;
}

.form__info {
    font-size: 12px;
}